{extend name="common/base"/}
{block name="link"}
<link href="__STATIC__/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<link href="__STATIC__/js/plugins/nestable2/jquery.nestable.css" rel="stylesheet">
{/block}
{block name="style"}
<style>
    #advanced-search-box .form-group{
        margin-top: 10px;
        margin-bottom: 0;
    }
    .dd-collapse {
        display: none !important;
    }
    .dd-expand {
        display: none!important;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
         -webkit-appearance: none;
    }
    input[type="number"]{
        -moz-appearance: textfield;
    }
</style>
{/block}
{block name="body"}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-4">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="example-wrap">
                <div class="example">
                    <div class="">
                        <div class="ibox-title" style="">
                            <h5>{$cateInfo.title}---试题管理</h5>
                        </div>
                        <div class="ibox-content">
                            <div id="toolbar" class="btn-group" style="display: flex;">
                                <button type="button" class="btn btn-outline btn-default" title="返回分类列表" style="margin-right: 1px;border-radius: 3px;" onclick="goBack()">
                                    <i class="glyphicon glyphicon-chevron-left" aria-hidden="true"></i>
                                    <span>返回分类</span>
                                </button>
                                <button type="button" class="btn btn-outline btn-default" title="添加分类题目" style="margin-right: 1px;margin-left: 0px;border-radius: 3px;" onclick="addOrEdit('添加')">
                                    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                                    <span>添加</span>
                                </button>
                                <button type="button" class="btn btn-outline btn-default save-node" disabled="" style="margin-right: 1px;margin-left: 0px;border-radius: 3px;">
                                    <i class="fa fa-save"></i>
                                    <span>保存</span>
                                </button>
                                <!--<div id="e-c" style="display: inline-block;">-->
                                    <!--<button type="button" data-action="expand-all" class="btn btn-outline btn-default">-->
                                        <!--<i class="glyphicon glyphicon-chevron-down" aria-hidden="true"></i>-->
                                        <!--<span>展开</span>-->
                                    <!--</button>-->
                                    <!--<button type="button" data-action="collapse-all" class="btn btn-outline btn-default">-->
                                        <!--<i class="glyphicon glyphicon-chevron-up" aria-hidden="true"></i>-->
                                        <!--<span>收起</span>-->
                                    <!--</button>-->
                                <!--</div>-->
                            </div>
                                <div class="dd" id="nestable2">
                                    <!--<ol class="dd-list">-->
                                        <!--<li class="dd-item dd3-item" data-level="0" data-id="0">-->
                                            <!--<div class="dd-handle dd3-handle"></div>-->
                                            <!--<div class="dd3-content">-->
                                                <!--<span class="label label-warning"><i class="fa fa-users"></i></span> {$cateInfo.title}-->
                                            <!--</div>-->
                                            <!--<ol class="dd-list">-->
                                                {$data|raw}
                                            <!--</ol>-->
                                        <!--</li>-->
                                    <!--</ol>-->
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>试题详情</h5>
                </div>
                <div class="ibox-content">
                    <div class="col-sm-6">
                        <div class="form-group add-topic-detail" style="display: none">
                            <div class="col-sm-10 col-sm-offset-1">
                                <button type="button" id="delete" onclick="C_columnSetDel(this)" class="btn btn-sm btn-danger">删除</button>
                                <button type="button" id="top" onclick="C_columnSetTop(this)" class="btn btn-sm btn-primary">置顶</button>
                                <button type="button" id="up" onclick="C_columnSetMoveUp(this)" class="btn btn-sm btn-primary">上移</button>
                                <button type="button" id="down" onclick="C_columnSetMoveDown(this)" class="btn btn-sm btn-primary">下移</button>
                                <button type="button" id="under" onclick="C_columnSetBottom(this)" class="btn btn-sm btn-primary">置底</button>
                                <button type="button" id="save" onclick="sortSave()" class="btn btn-sm btn-primary save-sort" disabled="">保存</button>
                            </div>
                        </div>
                        <br>
                        <div id="tree-view" class="test">
                            <div class="ibox-content text-center">
                                <h3 class="m-b-xxs">请先点击左侧试题名称</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 add-topic-detail" style="display: none">
                        <h5>新建 / 编辑选项：</h5>
                        <hr>
                        <form class="form-horizontal m-t" data-parsley-validate id="commentForm">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">新增内容 <span style="color:red;">*</span></label>
                                <div class="col-sm-8">
                                    <textarea name="content" class="form-control"  required id="content" minlength="2" maxlength="100"  cols="30" rows="3" style="resize: none;" placeholder="请输入选项内容详情..."></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">选项分值 <span style="color:red;">*</span></label>
                                <div class="col-sm-8">
                                    <input name="score" class="form-control" max="127" type="number"  required id="score" placeholder="请输入该选项分值">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-3" >
                                    <div id="sub"></div>
                                    <button type="submit" id="submit" class="btn btn-w-m btn-primary">提交</button>
                                    <button type="reset" onclick="resetDetail()" class="btn btn-w-m btn-warning">重置</button>
                                </div>
                            </div>
                        </form>
                        <hr>
                        <div id="event_output"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script src="__STATIC__/js/plugins/parsleyjs/dist/parsley.min.js"></script>
<script src="__STATIC__/js/plugins/parsleyjs/src/i18n/zh_cn.js"></script>
<script src="__STATIC__/js/plugins/nestable2/jquery.nestable.min.js"></script>
<script src="__STATIC__/js/plugins/treeview/bootstrap-treeview.js"></script>
<script>
    var s_id = "{$cateInfo.s_id}";
    var st_id = "{$cateInfo.id}";
    var treeView = [];
    var addUrl = "{:url('topicDetail/add')}";
    var t_id = '';
    var now_t_id = '';
    var sort_save = {};
    $(document).ready(function () {
        //改变节点
        $('.dd').on('change', function () {
            $('.save-node').attr('disabled', false);
        });
        //保存节点
        $('.save-node').on('click', function () {
            var ids = $('.dd').nestable('serialize');
            var index = layer.load(2);
            $.ajax({
                type: 'post',
                url: "{:url('topic/sort')}",
                dataType: 'json',
                data:{ids: ids},
                complete: function () {
                    layer.close(index);
                },
                success: function (res) {
                    if (res.code === 200) {
                        layer.msg(res.msg, {time: 1500}, function(){
                            window.location.reload();
                        });
                    } else {
                        layer.msg(res.msg);
                    }
                },
                error: function (xhr) {
                    layer.msg('服务器错误');
                }
            });
        });

        //初始化左侧树型
        $('#nestable2').nestable({
            group: 0,
            maxDepth: 1,
            'onDragStart': function (l, e) {
                var ils = $(e).data("level");
                if(ils === 0){
                    console.log("不允许拖拽库节点");
                    return false;
                }
                console.log('初始level',ils);
            },
            'beforeDragStop': function(l,e, p) {
                var level = e.data('level');
            }
        });

        //右侧选项详情获取
        $(".get-top-detail").click(function () {
            t_id = $(this).data("id");
            if (now_t_id !== t_id) {
                $("#sub").empty();
                now_t_id = t_id
            }
            resetDetail();
            getTopicDetail(t_id)
        });


        $('#e-c').on('click', function (e) {
            var target = $(e.target),
                action = target.data('action');
            if (action === 'expand-all') {
                $('.dd').nestable('expandAll');
            }
            if (action === 'collapse-all') {
                $('.dd').nestable('collapseAll');
            }
        });
    });


    function jumpDelete(id) {
        var url = "{:url('topicDetail/delete')}";
        ajaxToDelete(url, id)
    }

    function addOrEdit(name, id) {
        var url = '';
        if (id) {
            url = "{:url('topic/update',array('id'=>'P_id','c_id'=>'C_id'))}";
            url =  url.replace("P_id",id);
        } else {
            url = "{:url('topic/add',array('c_id'=>'C_id'))}";
        }
        url =  url.replace("C_id",st_id);
        dialog(name, url, 800, 450);
    }

    function getTopicDetail(id) {
        $.ajax({
            type: 'post',
            url: '{:url("topicDetail/index")}',
            dataType: 'json',
            data: {id: id},
            success: function (res) {
                if (res.code === 200) {
                    var that = $("#tree-view");
                    $(".add-topic-detail").show();
                    that.empty();
                    treeView = res.data;
                    that.treeview({
                        color: "#428bca",
                        data: treeView,
                        onNodeSelected: function (event, node) {
                            $('#content').val(node.text);
                            $('#score').val(node.score);
                            $('.save-sort').attr('disabled', false);
                            $("form label").eq(0).text("编辑内容").append("<span style='color:red;'>*</span>");
                            $("#sub").empty().append("<input type='hidden' name='id' value='"+ node.id +"'>");
                            addUrl = "{:url('topicDetail/update')}";
                        }
                    }).change(function () {
                        console.log('123');
                    });
                } else {
                    layer.open({
                        title: '失败',
                        content: res.msg,
                        icon: 5,
                        time: 2000
                    });
                }
            },
            error: function (xhr) {
                layer.open({
                    title: '',
                    content: '操作失败，请联系管理员(2秒后自动关闭)',
                    time: 2000,
                    icon: 5
                })
            }
        });
    }

    function goBack() {
        var url = "{:url('category/index',array('id'=>'P_id'))}";
        window.location = url.replace("P_id",s_id);
    }

    Parsley.on('form:submit', function(e) {
        var index = layer.load(2);
        var formData = $('form').serializeObject();
        formData['t_id'] = t_id;
        console.log(formData);
        $.ajax({
            type: 'post',
            dataType: 'json',
            data: formData,
            url: addUrl,
            complete: function () {
                layer.close(index);
            },
            success: function (data) {
                if (data.code === 200) {
                    layer.msg("提交成功");
                    getTopicDetail(t_id);   //获取详情
                    resetDetail();          //
                } else {
                    layer.open({
                        title: '错误',
                        content: data.msg,
                        time: 2000,
                        icon: 5,
                        yes: function(index, layero){
                        }
                    })
                }
            },
            error: function (xhr) {
                layer.open({
                    title: '',
                    content: '操作失败，请联系管理员(2秒后自动关闭)',
                    time: 2000,
                    icon: 5
                })
            }
        });
        return false;
    });

    //选项删除
    function C_columnSetDel(o){
        var obj = $("#tree-view").find(".node-selected");
        if(obj.length > 0){
            jumpDelete(obj.attr("data-tid"))
        }else {
            layer.msg('系统提示:请选择要【删除】的列！')
        }
    }
    //选项置底
    function C_columnSetBottom(o){
        var obj = $("#tree-view").find(".node-selected");
        var list = $("#tree-view").find("li");
        if(obj.length > 0){
            var thisLocation = list.index( obj );
            if( thisLocation >= list.length - 1 ){
                layer.msg('系统提示:已移到最底端了！')
            }else {
                //console.log (thisLocation);
                obj.parent().append(obj);   //移动到最底
            }
            //console.log (list.length);
        }else {
            layer.msg('系统提示:请选择要【置底】的列！')
        }
    }
    //选项下移动
    function C_columnSetMoveDown(o){
        var obj = $("#tree-view").find(".node-selected");
        var list = $("#tree-view").find("li");
        if(obj.length > 0){
            var thisLocation = list.index( obj );
            if( thisLocation >= list.length - 1 ){
                layer.msg('系统提示:已移到最底端了！')
            }else {
                //console.log (thisLocation);
                obj.next().after(obj); //下移动
            }
            //console.log (list.length);
        }else {
            layer.msg('系统提示:请选择要【下移】的列！')
        }
    }
    //选项置顶
    function C_columnSetTop(o){
        var obj = $("#tree-view").find(".node-selected");
        var list = $("#tree-view").find("li");
        if(obj.length > 0){
            var thisLocation = list.index( obj );
            if( thisLocation < 1 ){
                layer.msg('系统提示:已移到最顶端了！')
            }else {
                console.log (thisLocation);
                obj.parent().prepend(obj);  //移动到最顶
            }
        }else {
            layer.msg('系统提示:请选择要【置顶】的列！')
        }
    }
    //选项上移动
    function C_columnSetMoveUp(o){
        var obj = $("#tree-view").find(".node-selected");
        var list = $("#tree-view").find("li");
        if(obj.length > 0){
            var thisLocation = list.index( obj );
            if( thisLocation < 1 ){
                layer.msg('系统提示:已移到最顶端了！')
            }else {
                //console.log (thisLocation);
                obj.prev().before(obj); //上移动
            }
            //console.log (list.length);
        }else {
            layer.msg('系统提示:请选择要【上移】的列！')
        }
    }
    //选项填报重置
    function resetDetail() {
        $("#content").val("");
        addUrl = "{:url('topicDetail/add')}";
        $("form label").eq(0).text("新增内容").append("<span style='color:red;'>*</span>");
        $("form label").eq(1).text("内容分值").append("<span style='color:red;'>*</span>");
    }
    //选项排序提交
    function sortSave(){
        var sortData = [];
        var list = $("#tree-view").find("li");
        $.each(list, function (key, val) {
            var obj = [];
            obj['id'] = $(this).attr('data-tid');
            obj['sort'] = (key + 1);
            sortData.push({'id':$(this).attr('data-tid'), 'sort' : (key+1)})
        });
        var index = layer.load(2);
        $.ajax({
            type: 'post',
            url: "{:url('topicDetail/sort')}",
            dataType: 'json',
            data:{ids: sortData},
            complete: function () {
                layer.close(index);
            },
            success: function (res) {
                if (res.code === 200) {
                    layer.msg(res.msg, {time: 1500}, function(){
                        // getTopicDetail(t_id)
                    });
                } else {
                    layer.msg(res.msg);
                }
            },
            error: function (xhr) {
                layer.msg('服务器错误');
            }
        });
        // console.log('sortData',sortData);
    }
</script>
{/block}