{extend name="common/form"/}
{block name="link"}
<link href="__STATIC__/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<link href="__STATIC__/plugins/mui/css/mui.picker.css" rel="stylesheet">
<link href="__STATIC__/plugins/mui/css/mui.poppicker.css" rel="stylesheet">
{/block}
{block name="style"}
<style>
* {
    touch-action: pan-y;
}
.main-advisory-content
{   width: 95%;
    overflow: hidden;/*超出部分隐藏*/
    white-space: nowrap;/*不换行*/
    text-overflow:ellipsis;/*超出部分文字以...显示*/
}
.radio_inline{
     display: inline-block;
     width: 65%;
     }
 .radio_inline label{

     width: 20%;
     padding-left: 40px;
     padding-right: 40px;
     }
 .radio_inline input[type=radio]{
     width: 15%;
 right: auto;
     }


 /*//换个样式*/
 .change .mui-radio input[type='radio']:checked:before{
       content:'\e442';
       color:red;
       }
</style>
{/block}
{block name="body"}
<div class="mui-off-canvas-wrap mui-draggable">
    <!-- 主页面容器 -->
    <div class="mui-inner-wrap">
        <!-- 主页面标题 -->
        <header class="mui-bar mui-bar-nav">
            <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" id="go-back"></a>
            <h1 class="mui-title" id="title">咨询详情</h1>
        </header>
        <!-- 主页面内容容器 -->
        <div id="refreshContainer" class="mui-content mui-scroll-wrapper">
            <div class="mui-scroll">
                <!-- 主界面具体展示内容 -->
                <ul class="mui-table-view">
                    <li class="mui-table-view-cell mui-media">
                        <a href="javascript:;">
                            <span class="mui-pull-left">咨询分类</span>
                            <span class="mui-pull-right" style="font-size: 20px">测试分类</span>
                        </a>
                    </li>
                    <li class="mui-table-view-cell mui-media">
                        <a href="javascript:;">
                            <span class="mui-pull-left">咨询内容</span>
                            <span class="mui-pull-right" >测试分类测试分类测试分类测试分类测试分类测试分类测试分类</span>
                        </a>
                    </li>
                    <li class="mui-table-view-cell mui-media">
                        <a href="javascript:;">
                            <span class="mui-pull-left">相应回答</span>
                            <span class="mui-pull-right" style="font-size: 20px">测试分类</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mui-off-canvas-backdrop"></div>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__STATIC__/plugins/mui/js/mui.picker.js"></script>
<script type="text/javascript" src="__STATIC__/plugins/mui/js/mui.poppicker.js"></script>
<script type="text/javascript" src="__STATIC__/plugins/mui/js/common.js"></script>
<script>
    var isOver = false;//是否加载完
    jQuery(document).ready(function () {
        mui.init({
            pullRefresh : {
                container:"#refreshContainer",//下拉刷新容器标识，querySelector能定位的css选择器均可，比如：id、.class等
                up : {
                    height:100,//可选,默认50.触发下拉刷新拖动距离,
                    auto: true,//可选,默认false.首次加载自动下拉刷新一次
                    contentdown : "下拉可以刷新",//可选，在下拉可刷新状态时，下拉刷新控件上显示的标题内容
                    contentover : "释放立即刷新",//可选，在释放可刷新状态时，下拉刷新控件上显示的标题内容
                    contentrefresh : "正在加载...",//可选，正在刷新状态时，下拉刷新控件上显示的标题内容
                    contentnomore:'我也是有底线的...',
                    callback :pullupRefresh //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
                }
            }
        });
        mui('.mui-scroll-wrapper').scroll();
        function pullupRefresh() {
            setTimeout(function () {
                mui('#refreshContainer').pullRefresh().endPullupToRefresh((isOver)); //参数为true代表没有更多数据了。
                getAdvisoryData();//ajax
            }, 1000);
        }
    });
    function getAdvisoryData() {
//        var formData = {};
//        formData = $('form').serializeObject();
//        formData['limit'] = limit;
//        formData['page'] = page;
//        ajaxPost(formData);
    }
</script>
{/block}