{extend name="common/form"/}
{block name="link"}
<link href="__STATIC__/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<link href="__STATIC__/plugins/mui/css/mui.picker.css" rel="stylesheet">
<link href="__STATIC__/plugins/mui/css/mui.poppicker.css" rel="stylesheet">
{/block}
{block name="style"}
<style>
* {
    touch-action: pan-y;
}
.main-advisory-content
{   width: 95%;
    overflow: hidden;/*超出部分隐藏*/
    white-space: nowrap;/*不换行*/
    text-overflow:ellipsis;/*超出部分文字以...显示*/
}
.mui-content {
    background-color: #fff !important;
}
#add_advisory {
    border: 1px black;
}
</style>
{/block}
{block name="body"}
<div class="mui-off-canvas-wrap mui-draggable">
    <!-- 主页面容器 -->
    <div class="mui-inner-wrap">
        <!-- 主页面标题 -->
        <header class="mui-bar mui-bar-nav">
            <div id="add_advisory">
                <a class="mui-action-back mui-icon mui-icon-back mui-pull-left add-advisory"></a>
            </div>
            <h1 class="mui-title" id="title">外校测评统计</h1>
        </header>
        <div class="mui-content mui-scroll-wrapper">
            <div class="mui-scroll">
                <!-- 主界面具体展示内容 -->
                <form class="mui-input-group" data-parsley-validate="">
                    <div class="mui-input-row">
                        <label>选择班级</label>
                        <input type="hidden" name="grade" id="grade">
                        <input type="hidden" name="class" id="class">
                        <input type="hidden" name="school" id="school">
                        <input type="text" id='schoolPicker' class="mui-input-clear mui-col-sm-3" placeholder="请选择学校/年级/班级" readonly autocomplete="off">
                    </div>
                    <div class="mui-input-row">
                        <label>试卷</label>
                        <input type="hidden" name="topic" id="topic">
                        <input type="text" id='topicPicker' class="mui-input-clear mui-col-sm-3" placeholder="请选择评测试题" readonly autocomplete="off">
                    </div>

                    <div class="mui-button-row" style="width: 90%;margin: 0 auto;">
                        <input type="hidden" value="{$schoolData}" id="schoolData">
                        <input type="hidden" value="{$topicData}" id="topicData">
                        <button type="submit" class="mui-btn mui-btn-success mui-btn-block" style="line-height: 0px;">搜索</button>
                    </div>
                    <div class="title" style="text-align: center;margin-top: 10px;position: inherit;top: 20px;display: block;">
                        <a style="color: #666666;text-decoration: underline;" href="javascript:void(0)"></a></div>
                    <div id="container" style="height: 100%;min-height: 400px;margin-top: 20px;"></div>
                </form>
            </div>
        </div>
        <div class="mui-off-canvas-backdrop"></div>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__STATIC__/js/echarts.min.js"></script>
<script type="text/javascript" src="__STATIC__/plugins/mui/js/mui.picker.js"></script>
<script type="text/javascript" src="__STATIC__/plugins/mui/js/mui.poppicker.js"></script>
<script>
    var formData = {};
    var htmlD = htmlS = '';
    jQuery(document).ready(function () {
        mui.init();

        mui('.title').on('tap','a',function(){
            var url = "{:url('index/other_index')}";
            document.location.href = url;
            return false;
        });
        mui('#add_advisory').on('tap','a',function(){
            document.location.href = '{:url("login/index")}';
            return false;
        });
    });

    Parsley.on('form:submit', function(e) {
        formData = $('form').serializeObject();
        var error = '';
        if (formData.grade === '' || formData.class === ''  || formData.school === '' ) {
            error = '请选择【学校/年级/班级】选项';
        }
        if (formData.topic === '' ) {
            error = '请选择【试卷】选项';
        }
        if (error !== '') {
            mui.alert(error, '哎呀，出错了');
            return false;
        }
        $(".title").find("a").html(htmlS + htmlD + '统计结果');
        return ajaxPost(formData);
    });
    function ajaxPost(formData) {
        var index = layer.load(2);
        $.ajax({
            type: 'post',
            dataType: 'json',
            data: formData,
            url: "{:url('login/getOtherCharts')}",
            complete: function () {
                layer.close(index);
            },
            success: function (res) {
                if (res.code === 200) {
                    buildCharts(res.data)
                    // window.location.href = '{:url("index/index")}';
                } else {
                    mui.alert('获取数据错误', '哎呀，出错了');
                }
            },
            error: function (xhr) {
                mui.alert('操作失败，请联系管理员', '哎呀，出错了');
            }
        });
        return false;
    }
</script>
<script>
    var schoolData;
    var topicData;
    (function($){
        $(document).ready(function(){
            topicData = $("#topicData").val();
            topicData = eval('(' + topicData + ')');
            schoolData = $("#schoolData").val();
            schoolData = eval('(' + schoolData + ')');
        });
    })(jQuery);
    (function($, doc) {
        $.init();
        $.ready(function() {
            //普通示例
            var topicPicker = new $.PopPicker();
            topicPicker.setData(topicData);
            var topicPickerButton = doc.getElementById("topicPicker");
            var topic = doc.getElementById("topic");
            topicPickerButton.addEventListener('tap', function(event) {
                topicPicker.show(function(items) {
                    topicPickerButton.value = items[0].text;
                    htmlD +=  items[0].text;
                    topic.value = items[0].value;
                    //返回 false 可以阻止选择框的关闭
                    //return false;
                });
            }, false);
            //-----------------------------------------
            //     //级联示例
           var schoolInfoPicker3 = new $.PopPicker({
               layer: 3
           });
           schoolInfoPicker3.setData(schoolData);
           var schoolPickerButton = doc.getElementById('schoolPicker');
           var class_ = doc.getElementById('class');
           var grade_ = doc.getElementById('grade');
           var school_ = doc.getElementById('school');
            schoolPickerButton.addEventListener('tap', function(event) {
               schoolInfoPicker3.show(function(items) {
                   school_.value = items[0].value;
                   grade_.value = items[1].value;
                   class_.value = items[2].value;
                   htmlS = items[0].text + " " + items[1].text + " " + items[2].text;
                   schoolPickerButton.value = htmlS;
                   //返回 false 可以阻止选择框的关闭
                   //return false;
               });
           }, false);
        });
    })(mui, document);
</script>
<script type="text/javascript">
    function buildCharts(data)
    {
        var dom = document.getElementById("container");
        // var myChart = echarts.init(dom, null,  {renderer: 'svg'});
        var myChart = echarts.init(dom);
        var app = {};
        option = null;
        option = {
            title : {
                // text: '七年级8班某某测评统计结束',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                // type: 'scroll',
                // orient: 'vertical',
                bottom: 50,
                left:'center',
                // right: 50,
                data: data,
                selected: data
            },
            series : [
                {
                    name: '人数',
                    type: 'pie',
                    radius : '75%',
                    center: ['50%', '40%'],
                    data: data,
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    },
                    label: {
                        normal: {
                            show: true,
                            position: 'inner'
                        }
                    }
                }
            ]
        };

        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    }

</script>
{/block}
