{include file="common:header"}
<link rel="shortcut icon" href="__STATIC__/img/favicon.ico">
<!--<link rel="stylesheet" href="__STATIC__/plugins/bownty/skyd.min.css" />-->
<!--<link rel="stylesheet" href="__STATIC__/plugins/bownty/jquery.mobile.icons.min.css" />-->
<link rel="stylesheet" href="__STATIC__/plugins/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css">
<link rel="stylesheet" href="__STATIC__/plugins/jquery-mobile-flat-ui/green.min.css">
<!--<link rel="stylesheet" href="__STATIC__/plugins/frozenui/src/css/frozenui.css"/>-->
{block name="link"}
{/block}
<!-- 全局js -->
<script type="text/javascript" src="__STATIC__/js/jquery.min.js?v=2.1.4"></script>
<script type="text/javascript" src="__STATIC__/js/plugins/layer/layer.min.js"></script>
<script src="__STATIC__/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="__STATIC__/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="__STATIC__/js/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="__STATIC__/plugins/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script src="__STATIC__/js/plugins/parsleyjs/dist/parsley.min.js"></script>
<script src="__STATIC__/js/plugins/parsleyjs/src/i18n/zh_cn.js"></script>

<!-- 自定义js -->
<script type="text/javascript" src="__STATIC__/js/hplus.js?v=4.1.0"></script>
<script type="text/javascript" src="__STATIC__/js/contabs.js"></script>
<script type="text/javascript" src="__STATIC__/js/custom.js"></script>

<!-- 第三方插件 -->
<script src="__STATIC__/js/plugins/pace/pace.min.js"></script>
{block name="style"}
{/block}
</head>
<body class="fixed-sidebar full-height-layout gray-bg" >
{block name="body"}
{/block}
</body>
{block name="script"}
{/block}
</html>